<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 </head>
<body>
	<div class="container">
		<div th:fragment="header">
			<header>
				<div class="wrapper">
					<h1>
						<a href="index" id="logo">dholpur info</a>
					</h1>
					<div class="right">
						<div class="wrapper">
							<form id="search" action="" method="post">
								<div class="bg">
									<input type="submit" class="submit" value="" /> <input
										type="text" class="input" />
								</div>
							</form>
						</div>
						<!-- 						<div class="wrapper"> -->
						<!-- 							<nav> -->
						<!-- 								<ul id="top_nav"> -->
						<!-- 									<li><a href="signup">Register</a></li> -->
						<!-- 									<li><a href="login">Log In</a></li> -->
						<!-- 									<li><a href="help.html">Help</a></li> -->
						<!-- 								</ul> -->
						<!-- 							</nav> -->
						<!-- 						</div> -->
					</div>
				</div>
				<nav>
					<th:block th:include="fragments/navbar :: navbar"></th:block>
				</nav>
				<article class="col1">
					<div id="tabs">
						<ul>
							<li><a href="#tabs-11">Login</a></li>
							<li><a href="#tabs-12">Register</a></li>
						</ul>
						<div id="tabs-11">
							<p>
							<b class="error" th:if="${loginError}">The user name or password you have
											entered is invalid, try again.</b>
							<table class="useradmin">
								<tr>
									<td colspan="2"><b class="message"
										th:text="${message}">Password and confirm password
											wrong.</b> <b class="error" th:text="${error}"></b> 
											</td>
								</tr>
								<tr>
									<td class="login">
										<form id="form_1" th:action="@{/login}" method="post">
											<table id="login">
												<tr>
													<td></td>
												</tr>
												<tr class="login">
													<td class="name"><strong>User Name</strong></td>
													<td class="field"><input type="text" name="username"
														id="username" /></td>
												</tr>
												<tr class="login">
													<td class="name"><strong>Password</strong></td>
													<td class="field"><input type="password"
														name="password" id="password" /></td>
												</tr>
												<tr>
													<td colspan="2"><button class="submit" type="submit">Sign
															in</button></td>
												</tr>
											</table>
										</form>
									</td>
								</tr>
							</table>
							</p>
						</div>
						<div id="tabs-12">
							<table class="useradmin">
								<tr>
									<td class="register">
										<form id="form_2" th:action="@{/user/register}" method="post">
											<table id="login">
												<tr>
													<td colspan="2"><b class="error"
														th:text="${registererror}">Password and confirm
															password wrong.</b> <b class="error" th:text="${message}">Password
															and confirm password wrong.</b></td>
												</tr>
												<tr class="login">
													<td class="name"><strong>User Name</strong></td>
													<td class="field"><input type="text" name="username"
														id="username" /></td>
												</tr>
												<tr class="login">
													<td class="name"><strong>Password</strong></td>
													<td class="field"><input type="password"
														name="password" id="password" /></td>
												</tr>
												<tr class="login">
													<td class="name"><strong>Confirm Password</strong></td>
													<td class="field"><input type="password"
														name="cnfpassword" id="password" /></td>
												</tr>
												<tr>
													<td colspan="2"><button type="submit" class="submit">Sign
															in</button></td>
												</tr>
											</table>
										</form>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</article>
				<article class="col1 pad_left1">
					<!-- 	<div class="text">
						<img src="../../static/images/text1.gif"
							th:src="@{/images/text1.gif}" />
						<h2>
							Post Free Add<a href="addorganization_out.jsp" class="button">Click
								Here</a>
						</h2>
						<h3>
							Select City <select name="city" id="city"
								onChange="oncitychange(this)">
								<option value="0">Select Your City</option>
								<option value="10">Dholpur</option>
								<option value="11">Bari</option>
								<option value="12">Baseri</option>
								<option value="13">RajaKhera</option>
							</select>
						</h3>
					</div>
				 -->
				</article>
				<!-- <div class="img_home">
					<img src="../../static/images/img.jpg" th:src="@{/images/img.jpg}"
						height="310" width="300" />
				</div> -->
			</header>
			<!-- <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/products}">Products</a></li>
                        <li><a href="#" th:href="@{/product/new}">Create Product</a></li>
                        <li><a href="#" th:href="@{/organization}">Organization</a></li>
                        <li><a href="#" th:href="@{addorganization}">Add Organization</a></li>
                    </ul>

                </div>
            </div>
        </nav> -->
		</div>
	</div>
</body>
</html>