<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="address,places,tourist,ads,ad,classifieds,free,posting,city,info,business,photos" />
<link rel="stylesheet" href="../../static/css/reset.css"
	th:href="@{/css/reset.css}" type="text/css" media="all" />
<link rel="stylesheet" href="../../static/css/layout.css"
	th:href="@{/css/layout.css}" type="text/css" media="all" />
<link rel="stylesheet" href="../../static/css/style.css"
	th:href="@{/css/style.css}" type="text/css" media="all" />
<link rel="stylesheet" href="../../static/js/jquery.ui.all.css"
	th:href="@{/js/jquery.ui.all.css}" />
<link rel="stylesheet" href="../../static/js/jquery.ui.base.css"
	th:href="@{/js/jquery.ui.base.css}" />
<link rel="stylesheet" href="../../static/js/jquery.ui.theme.css"
	th:href="@{/js/jquery.ui.theme.css}" />
<link rel="stylesheet" href="../../static/js/jquery.ui.tabs.css"
	th:href="@{/js/jquery.ui.tabs.css}" />
<link rel="stylesheet" href="../../static/js/jquery.ui.core.css"
	th:href="@{/js/jquery.ui.core.css}" />
<link rel="stylesheet" href="../../static/js/demos.css"
	th:href="@{/js/demos.css}" />
<!--for menu tab-->
<link rel="stylesheet" href="../../static/css/acordasnce.css"
	th:href="@{/css/acordasnce.css}" />
<link rel="stylesheet" href="../../static/js/jquery-ui.css"
	th:href="@{/js/jquery-ui.css}" />
<link rel="stylesheet"
	href="../../static/js/jquery.ui.tabs_master_jsp.css"
	th:href="@{/js/jquery.ui.tabs_master_jsp.css}" />
<!-- for tab window -->



<!--        <link rel="stylesheet" href="js/demos.css">-->
<script src="../../static/js/jquery-1.7.1.js"
	th:src="@{/js/jquery-1.7.1.js}"></script>
<script src="../../static/js/jquery.ui.core.js"
	th:src="@{/js/jquery.ui.core.js}"></script>
<script src="../../static/js/jquery.ui.widget.js"
	th:src="@{/js/jquery.ui.widget.js}"></script>
<script src="../../static/js/jquery.ui.tabs.js"
	th:src="@{/js/jquery.ui.tabs.js}"></script>
<script type="text/javascript" src="../../static/js/jquery-1.4.2.js"
	th:src="@{/js/jquery-1.4.2.js}"></script>
<script type="text/javascript"
	src="../../static/js/Myriad_Pro_600.font.js"
	th:src="@{/js/Myriad_Pro_600.font.js}"></script>
<!--         <script type="text/javascript" src="../../static/js/citydataload.js" th:src="@{/js/citydataload.js}"></script>  -->
<script type="text/javascript" src="../../static/js/jquery.validate.js"
	th:src="@{/js/jquery.validate.js}"></script>
<!--Validation Setting-->
<script src="../../static/js/jquery.min.js"
	th:src="@{/js/jquery.min.js}"></script>
<script src="../../static/js/jquery.form-validator.min.js"
	th:src="@{/js/jquery.form-validator.min.js}"></script>
<script type="text/javascript" src="../../static/js/home.js"
	th:src="@{/js/home.js}"></script>
<script type="text/javascript"
	src="../../static/js/getbusinesscat_ajax.js"
	th:src="@{/js/getbusinesscat_ajax.js}"></script>

<!--for menu tab-->
<script src="../../static/js/jquery-1.7.1.js"
	th:src="@{/js/jquery-1.7.1.js}"></script>
<script src="../../static/js/jquery.ui.core.js"
	th:src="@{/js/jquery.ui.core.js}"></script>
<script src="../../static/js/jquery.ui.widget.js"
	th:src="@{/js/jquery.ui.widget.js}"></script>
<script src="../../static/js/jquery.ui.accordion.js"
	th:src="@{/js/jquery.ui.accordion.js}"></script>
<!--fatch Data for menu-->
<!-- for tab window -->

<script src="../../static/js/jquery.ui.core.js"
	th:src="@{/js/jquery.ui.core.js}"></script>
<script src="../../static/js/jquery.ui.widget.js"
	th:src="@{/js/jquery.ui.widget.js}"></script>
<script src="../../static/js/jquery.ui.tabs.js"
	th:src="@{/js/jquery.ui.tabs.js}"></script>
<link rel="stylesheet" href="../../static/js/jquery.ui.all.css"
	th:href="@{/js/jquery.ui.all.css}" />
<link rel="stylesheet" href="../../static/js/jquery.ui.base.css"
	th:href="@{/js/jquery.ui.base.css}" />
<link rel="stylesheet" href="../../static/js/jquery.ui.theme.css"
	th:href="@{/js/jquery.ui.theme.css}" />
<link rel="stylesheet"
	href="../../static/js/jquery.ui.tabs_master_jsp.css"
	th:href="@{/js/jquery.ui.tabs_master_jsp.css}" />
<link rel="stylesheet" href="../../static/js/jquery.ui.core.css"
	th:href="@{/js/jquery.ui.core.css}" />
<!--        <link rel="stylesheet" href="js/demos.css">-->

<script>
	$(document).ready(function() {

		//  $("#profile_form").load('addorganization_out.jsp');  
		//  $("#profile_form").load('addorganization_out.jsp');  
		$("#tabs-1").load("/user/classifiedview");
		$("#tabs-1").show();
		$("#tabs1").click(function() {
			$("#tabs-1").load('/user/classifiedview');
			$("#tabs-1").show();
			event.preventDefault();
			return false;
		});

		$("#tabs2").click(function() {
			$("#tabs-2").load('/user/plumber');
			$("#tabs-2").show();
			event.preventDefault();
			return false;
		});

		$("#tabs3").click(function() {
			$("#tabs-3").load('orgadv.jsp');
			$("#tabs-3").show();
			event.preventDefault();
			return false;
		});

		$("#ataglance").click(function() {
			$("#profile_form").load('/page/ataglance');
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#attraction").click(function() {
			$("#profile_form").load('/page/attraction');
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#emergency").click(function() {
			$("#profile_form").load('/page/emergency');
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#govtoffices").click(function() {
			$("#profile_form").load('/page/govtoffices');
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#profile").click(function() {
			$("#profile_form").load("/page/userProfile/new");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#changepass").click(function() {
			$("#profile_form").load("/user/changepassword");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#organizations").click(function() {
			$("#profile_form").load("/user/organizations");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});
		
		$("#classifieds").click(function() {
			$("#profile_form").load("classifieds");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});
		
		$("#myclassifieds").click(function() {
			$("#profile_form").load("/user/myclassifieds");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		})

		/* 		$("#about").click(function() {
		 $("#profile_form").load("page/about");
		 $("#tablediv").hide();
		 $("#profile_form").show();
		 event.preventDefault();
		 return false;
		 }); */

		/* $("#contact").click(function() {
			$("#content1").load("page/contact");
			$("#content2").hide();
			$("#content1").show();
			event.preventDefault();
			return false;
		}); */

		/* 		$("#gallery").click(function() {
		 $("#profile_form").load("page/gallery");
		 $("#tablediv").hide();
		 $("#profile_form").show();
		 event.preventDefault();
		 return false;
		 });
		 */
		$("#AL2").click(function() {
			$("#profile_form").load("/page/organizationByType/2");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ME1").click(function() {
			$("#profile_form").load("/page/organizationByType/1");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#CA3").click(function() {
			$("#profile_form").load("/page/organizationByType/3");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#MH4").click(function() {
			$("#profile_form").load("/page/organizationByType/4");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#MH5").click(function() {
			$("#profile_form").load("/page/organizationByType/5");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#MH6").click(function() {
			$("#profile_form").load("/page/organizationByType/6");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#MH7").click(function() {
			$("#profile_form").load("/page/organizationByType/7");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#MH8").click(function() {
			$("#profile_form").load("/page/organizationByType/8");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#MH9").click(function() {
			$("#profile_form").load("/page/organizationByType/9");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#MH10").click(function() {
			$("#profile_form").load("/page/organizationByType/10");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED11").click(function() {
			$("#profile_form").load("/page/organizationByType/11");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED12").click(function() {
			$("#profile_form").load("/page/organizationByType/12");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED13").click(function() {
			$("#profile_form").load("/page/organizationByType/13");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED14").click(function() {
			$("#profile_form").load("/page/organizationByType/14");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED15").click(function() {
			$("#profile_form").load("/page/organizationByType/15");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED16").click(function() {
			$("#profile_form").load("/page/organizationByType/16");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED17").click(function() {
			$("#profile_form").load("/page/organizationByType/17");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED18").click(function() {
			$("#profile_form").load("/page/organizationByType/18");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED19").click(function() {
			$("#profile_form").load("/page/organizationByType/19");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#ED20").click(function() {
			$("#profile_form").load("/page/organizationByType/20");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#FS21").click(function() {
			$("#profile_form").load("/page/organizationByType/21");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#FS22").click(function() {
			$("#profile_form").load("/page/organizationByType/22");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#FS23").click(function() {
			$("#profile_form").load("/page/organizationByType/23");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#FS24").click(function() {
			$("#profile_form").load("/page/organizationByType/24");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#FS25").click(function() {
			$("#profile_form").load("/page/organizationByType/25");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#TT26").click(function() {
			$("#profile_form").load("/page/organizationByType/26");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SS27").click(function() {
			$("#profile_form").load("/page/organizationByType/27");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SS28").click(function() {
			$("#profile_form").load("/page/organizationByType/28");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SS29").click(function() {
			$("#profile_form").load("/page/organizationByType/29");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SS30").click(function() {
			$("#profile_form").load("//page//organizationByType/30");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SS31").click(function() {
			$("#profile_form").load("/page/organizationByType/31");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SH32").click(function() {
			$("#profile_form").load("/page/organizationByType/32");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SH33").click(function() {
			$("#profile_form").load("/page/organizationByType/33");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SH34").click(function() {
			$("#profile_form").load("/page/organizationByType/34");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SH35").click(function() {
			$("#profile_form").load("/page/organizationByType/35");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SH36").click(function() {
			$("#profile_form").load("/page/organizationByType/36");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#SH37").click(function() {
			$("#profile_form").load("/page/organizationByType/37");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#IN38").click(function() {
			$("#profile_form").load("/page/organizationByType/38");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#BF39").click(function() {
			$("#profile_form").load("/page/organizationByType/39");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});
		$("#BF40").click(function() {
			$("#profile_form").load("/page/organizationByType/40");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});
		$("#UT41").click(function() {
			$("#profile_form").load("/page/organizationByType/41");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});

		$("#UT42").click(function() {
			$("#profile_form").load("/page/organizationByType/42");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});
		
		$("#mybusiness").click(function() {
			$("#profile_form").load("/user/myorganizations");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		});
		
		
		/* $("#addclassified").click(function() {
			$("#profile_form").load("addclassifieds");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		}); */

		/* $("#classifieds").click(function() {
			$("#profile_form").load("classifieds");
			$("#tablediv").hide();
			$("#profile_form").show();
			event.preventDefault();
			return false;
		}); */

	});
</script>

<!-- end tab window decor -->

<!--[if lt IE 9]>
                <script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
                <script type="text/javascript" src="js/html5.js"></script>
        <![endif]-->
</head>
<body>
</body>
</html>