<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../../static/css/style.css"
	th:href="@{/css/style.css}" type="text/css" media="all" />
<script>
	$(document).ready(function() {
		//  $("#profile_form").load('addorganization_out.jsp');  
		//  $("#profile_form").load('addorganization_out.jsp');  
		$("#tabs-1").load("/user/addclassifieds");
		$("#tabs-1").show();
		$("#tabs1").click(function() {
			$("#tabs-1").load('/user/addclassifieds');
			$("#tabs-1").show();
			event.preventDefault();
			return false;
		});

		$("#tabs2").click(function() {
			$("#tabs-2").load('/user/plumber');
			$("#tabs-2").show();
			event.preventDefault();
			return false;
		});

		$("#tabs3").click(function() {
			$("#tabs-3").load('orgadv.jsp');
			$("#tabs-3").show();
			event.preventDefault();
			return false;
		});
	});
</script>
</head>
<body>
	<div th:fragment="menu">
		<div class="pad">
			<dl id="accordion">
				<a
					th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
					<span th:case="${true}">
						<h4>
							<dt>Administration</dt>
						</h4>
						<div>
							<dd>
								<a href="/user/userProfile/new" class="button_menu">Profile
								</a>
							</dd>
							<dd>
								<a href="" id="changepass" class="button_menu">Change
									Password</a>
							</dd>
							<dd>
								<a href="" id="MH1" class="button_menu">News</a>
							</dd>
						</div>
					</span>
				</a>

		<a
					th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
					<span th:case="${true}">
						<h4>
							<dt>My Saved Recored</dt>
						</h4>
						<div>
							<dd>
						<a href="" id="myclassifieds" class="button_menu">List My
							Classifieds</a>
					</dd>

					<dd>
						<a href="" id="mybusiness" class="button_menu">List My
							Businesses</a>
					</dd>
					<dd>
						<a href="" id="classifieds" class="button_menu">List
							Classifieds</a>
					</dd>
					<dd>
						<a href="" id="organizations" class="button_menu">List
							Business</a>
					</dd>

						</div>
					</span>
				</a>				<!-- 				</div> -->
				<h4>
					<dt>City Information</dt>
				</h4>
				<div>
					<dd>
						<a href="#" id="ataglance" class="button_menu">City At a
							Glance </a>
					</dd>
					<dd>
						<a href="#" id="attraction" class="button_menu">Tourist Places</a>
					</dd>
					<dd>
						<a href="#" id="emergency" class="button_menu">Emergency
							Numbers</a>
					</dd>
					<dd>
						<a href="#" id="govtoffices" class="button_menu">Govt Offices</a>
					</dd>
					<dd>
						<a href="#" id="ME1" class="button_menu">Media</a>
					</dd>
					<dd>
						<a href="#" id="AL2" class="button_menu">Advocates &amp; Legal</a>
					</dd>
					<dd>
						<a href="#" id="CA3" class="button_menu">Accountent</a>
					</dd>
				</div>
				<h4>
					<dt>Home Needs</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="MH1" class="button_menu">STD Code India</a>
					</dd>
					<dd>
						<a href="" id="UT41" class="button_menu">Plumbers</a>
					</dd>
					<dd>
						<a href="" id="UT42" class="button_menu">Electrician</a>
					</dd>
					<dd>
						<a href="" id="MH43" class="button_menu">Others</a>
					</dd>
				</div>
				<h4>
					<dt>Classified</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="MH" class="button_menu">Room Rent</a>
					</dd>
					<dd>
						<a href="" id="MH" class="button_menu">Sell/Purchase</a>
					</dd>
					<dd>
						<a href="" id="MH" class="button_menu">Advertise</a>
					</dd>
				</div>
				<h4>
					<dt>Medical and Health</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="MH4" class="button_menu">Hospital</a>
					</dd>
					<dd>
						<a href="" id="MH5" class="button_menu">Ayurveda Hospital</a>
					</dd>
					<dd>
						<a href="" id="MH6" class="button_menu">Homeopathy Hospital</a>
					</dd>
					<dd>
						<a href="" id="MH7" class="button_menu">Clinic</a>
					</dd>
					<dd>
						<a href="" id="MH8" class="button_menu">Pathology Lab</a>
					</dd>
					<dd>
						<a href="" id="MH9" class="button_menu">Blood Bank </a>
					</dd>
					<dd>
						<a href="" id="MH10" class="button_menu">Baby Care Centre</a>
					</dd>
				</div>

				<h4>
					<dt>Education</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="ED11" class="button_menu">Schools</a>
					</dd>
					<dd>
						<a href="" id="ED12" class="button_menu">Colleges</a>
					</dd>
					<dd>
						<a href="" id="ED13" class="button_menu">B.Ed. Colleges</a>
					</dd>
					<dd>
						<a href="" id="ED14" class="button_menu">Polytechnic Colleges</a>
					</dd>
					<dd>
						<a href="" id="ED15" class="button_menu">I.T.I. Colleges</a>
					</dd>
					<dd>
						<a href="" id="ED16" class="button_menu">Engineering &amp;
							ManagementCollege</a>
					</dd>
					<dd>
						<a href="" id="ED17" class="button_menu">Coaching &amp;
							Tutorials</a>
					</dd>
					<dd>
						<a href="" id="ED18" class="button_menu">Skill Trainers</a>
					</dd>
					<dd>
						<a href="" id="ED19" class="button_menu">Library</a>
					</dd>
					<dd>
						<a href="" id="ED20" class="button_menu">Book Shops</a>
					</dd>
				</div>
				<h4>
					<dt>Hotels</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="FS21" class="button_menu">Hotel &amp; Resort</a>
					</dd>
					<dd>
						<a href="" id="FS22" class="button_menu">Restorant</a>
					</dd>
					<dd>
						<a href="" id="FS23" class="button_menu">Marriage Home</a>
					</dd>
					<dd>
						<a href="" id="FS24" class="button_menu">Conference Hall</a>
					</dd>
					<dd>
						<a href="" id="FS25" class="button_menu">Party Hall</a>
					</dd>
				</div>
				<h4>
					<dt>Service Stations</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="SS27" class="button_menu">Two Wheeler SS</a>
					</dd>
					<dd>
						<a href="" id="SS28" class="button_menu">Car/Truck/Bus SS</a>
					</dd>
					<dd>
						<a href="" id="SS29" class="button_menu">LPG Gas Station</a>
					</dd>
					<dd>
						<a href="" id="SS30" class="button_menu">Electronic Gadgets</a>
					</dd>
					<dd>
						<a href="" id="SS31" class="button_menu">Computers &amp;
							Mobile </a>
					</dd>
				</div>
				<h4>
					<dt>Bank &amp; Finance</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="BF39" class="button_menu">ATM &amp; Banks </a>
					</dd>
					<dd>
						<a href="" id="BF40" class="button_menu">Post Offices</a>
					</dd>
				</div>
				<h4>
					<dt>Other Shops</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="SH32" class="button_menu">General Store</a>
					</dd>
					<dd>
						<a href="" id="SH33" class="button_menu">Cloth Store</a>
					</dd>
					<dd>
						<a href="" id="SH34" class="button_menu">Show Rooms</a>
					</dd>
					<dd>
						<a href="" id="SH35" class="button_menu">Sweets</a>
					</dd>
					<dd>
						<a href="" id="SH36" class="button_menu">Flowers</a>
					</dd>
					<dd>
						<a href="" id="SH37" class="button_menu">Bakery Shop</a>
					</dd>
				</div>
				<h4>
					<dt>Tour &amp; Travel</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="TT26" class="button_menu">Tour &amp; Travel</a>
					</dd>
				</div>
				<h4>
					<dt>Industries</dt>
				</h4>
				<div>
					<dd>
						<a href="" id="IN38" class="button_menu">All Industries</a>
					</dd>
				</div>
				<h4>
					<dt>Travel Option</dt>
				</h4>
				<div>
					<dd>
						<a href="timetable.html" id="MH1" class="button_menu">Rail
							Option</a>
					</dd>
					<dd>
						<a href="timetablebus.html" id="MH1" class="button_menu"> Bus
							Option</a>
					</dd>
					<dd>
						<a href="timetablebus.html" id="MH1" class="button_menu">Flight
							Option</a>
					</dd>
				</div>
			</dl>
		</div>
	</div>
</body>
</html>