<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../../static/css/style.css"
	th:href="@{/css/style.css}" type="text/css" media="all" />
</head>
<body>
	<div th:fragment="navbar">
		<ul id="menu">
			<li><a th:href="@{/user/home}" class="nav1">Home</a></li>
			<li><a href="#" th:href="@{/user/addorganization}" class="nav3">Institute</a></li>
			<li><a href="" th:href="@{/user/addorganization}" id="about" class="nav2">Medical</a></li>
			<li><a th:href="@{/user/addorganization}" id="gallery" class="nav5">Hotel</a></li>			
			<li><a th:href="@{/user/mywork}" id="gallery" class="nav4">Your Work</a></li>			
			<li><a th:href="gallery" id="gallery" class="nav3">sss</a></li>
<!-- 			<li class="end"><a href="contactus" id="contact" class="nav5">Contact -->
<!-- 					Us</a></li> -->
		</ul>
	</div>
</body>
</html>