.col1, .col2, .col3, .cols {
	float: left
}

.col1 {
	width: 267px
}

.col2 {
	width: 650px
}

.cols {
	width: 304px
}

.col3 {
	width: 393px
}
/* index.html */
#page1 h1 {
	padding: 27px 0 0 0
}

#page1 #search {
	padding: 35px 0 10px 0;
    height: 20px;
}

#page1 #menu {
	margin-top: 32px;
	margin-bottom: 10px
}

#page1 .img {
	right: -13px;
	top: 236px
}

#page1 .text {
	text-align: center;
	padding: 0;
	width: 100%
}

#page1 header {
	/* height: 580px;
	margin-bottom: 2px; */
	
    height: 530px;
    margin-bottom: -20px;
    margin-top: -30px;
}
/* index-1.html */
/* index-2.html */
#page3 .cols {
	width: 215px
}
/* index-3.html */
/* index-4.html */
/* index-5.html */
/* index-6.html */

/*for tab window*/
.ui-tabs .ui-tabs-nav {
	background: #8cbd20;
	width: 635px;
}

.ui-tabs .ui-tabs-panel /* just in case you want to change the panel */
	{
	background: #b530ba;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin: 0em 0.2em 0.2em 0.2em;
	width: 598px;
	height: 210px;
}
<!--
end
 
menu
 
script--
>