.ui-tabs .ui-tabs-nav {
	background: #8cbd20;
	width: 388px;
	font-size: 14px;
}

.ui-tabs .ui-tabs-panel /* just in case you want to change the panel */
	{
	background:teal;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin: 0em 0.1em 0.2em 0.2em;
	width: 350px;
	height: 240px;
	font-size: 14px;	
	color: white;
}

.ui-tabs {
	width: 395px;
	height: 310px;
	padding: .1em;
	margin: 0em 0.1em 0.2em 0.2em;
	zoom: 1;
}