/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed,
	figcaption, figure, footer, header, hgroup, keygen, meter, nav, output,
	progress, section, source, video {
	display: block
}

mark, rp, rt, ruby, summary, time {
	display: inline
}
/* Left & Right alignment */
.left {
	float: left
}

.right {
	float: right;
	height:80px;
	
}

.wrapper {
	width: 100%;
	/* 	height:100px;	 */
	overflow: hidden;
}

body {
	background: url(../images/bg.jpg) top center repeat;
	border: 0;
	font: 13px Arial, Helvetica, sans-serif;
	color: #323232;
	line-height: 17px
}

.ic, .ic a {
	border: 0;
	float: right;
	background: #fff;
	color: #f00;
	width: 50%;
	line-height: 10px;
	font-size: 10px;
	margin: -220% 0 0 0;
	overflow: hidden;
	padding: 0
}

.css3 {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	behavior: url(js/PIE.htc);
	position: relative
}

.body1 {
	background: url(../images/bg_footer.jpg) top center repeat;
	height: 100px
}

.main {
	margin: 0 auto;
	width: 960px;
	position: relative
}

.block {
	height: 100px
}

.extra {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px
}

body, html {
	height: 100%
}

a {
	color: #f09e2f;
	text-decoration: underline;
	outline: none
}

a:hover {
	text-decoration: none
}

h1 {
	float: left;
	padding: 17px 0 0 0
}

h2 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 600;
	color: #3081c8;
	line-height: 52px;
	padding: 2px 0 33px 0
}

h3 {
	font-size: 26px;
	color: #fff;
	color: #fff;
	padding-left: 35px;
	line-height: 57px;
	margin-bottom: 30px;
	background: #3081c8;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(js/PIE.htc);
	position: relative;
	text-transform: uppercase;
	font-weight: 600
}

p {
	padding-bottom: 17px
}
/* header */
header {
	overflow: hidden;
	width: 100%;
	height: 494px
}

#logo {
	background: url(../images/main_logo.jpg) no-repeat;
	display: block;
	width: 354px;
	height: 70px;
	text-indent: -5000px
}

#search {
	float: right;
	padding: 36px 0 10px 0
}

#search .bg {
	background: url(../images/search.gif) no-repeat;
	width: 247px;
	height: 29px
}

#search .submit {
	background: none;
	width: 29px;
	height: 29px;
	float: right;
	cursor: pointer
}

#search .input {
	float: right;
	background: none;
	font: 13px Arial, Helvetica, sans-serif;
	color: #303030;
	width: 208px;
	height: 17px;
	padding: 6px 5px
}

#top_nav {
	float: right;
	padding: 0 0 0 0
}

#top_nav li {
	float: left;
	padding-left: 5px
}

#top_nav a {
	display: block;
	background: url(../images/top_nav_bg.gif) no-repeat;
	width: 79px;
	font-size: 13px;
	line-height: 29px;
	color: #323232;
	text-align: center;
	text-decoration: none
}

#top_nav .welcome {
	border: solid #FFFFFF;
	width: 150px;
	font-size: 13px;
	line-height: 29px;
	color: #b530ba;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

#top_nav a:hover {
	color: #fff;
	background: #323232
}

#menu {
	width: 100%;
	overflow: hidden;
	margin-top: 22px;
	margin-bottom: 0px;
	height: 57px;
	padding-bottom: 1px;
	border-bottom: 5px solid #323232
}

#menu li {
	float: left
}

#menu li a {
	display: block;
	font-size: 22px;
	color: #fff;
	font-weight: 600;
	padding: 0 35px;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	behavior: url(js/PIE.htc);
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 57px
}

#menu li a:hover, #menu #menu_active a {
	background: #323232
}

#menu .end a {
	padding-right: 36px
}

.nav1 {
	background: #3081c8
}

.nav2 {
	background: #8cbd20
}

.nav3 {
	background: #f09e2f
}

.nav4 {
	background: #b530ba
}

.nav5 {
	background: #30b6c9
}

.tabs {
	width: 100%;
	overflow: hidden;
}

.tabs li {
	float: left;
	padding-right: 1px;
}

.tabs .end {
	padding: 0
}

.tabs a {
	display: block;
	width: 66px;
	font-size: 13px;
	line-height: 31px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	behavior: url(js/PIE.htc);
	position: relative;
	background: url(../images/tabs_bg.gif) bottom repeat-x #3081c8;
	text-decoration: none
}

.tabs a:hover, .tabs .active {
	background: url(../images/bg_form.gif) repeat
}

.tabs_cont {
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	behavior: url(js/PIE.htc);
	position: relative;
	background: url(../images/bg_form.gif) repeat;
	padding: 30px 35px 28px
}

.img_home {
	position: absolute;
	/* 	    position: relative; */
	/*     right: 650px; */
	margin-top: -250px;
	margin-left: 720px;
	width: 150px;
}

.img_add {
	position: absolute;
	right: 3px;
	top: 210px;
}

.img {
	position: absolute;
	right: 3px;
	top: 170px;
}

.img_center {
	position: absolute;
	right: 330px;
	top: 210px;
}

.flashfile {
	padding: 5px 0 0 5px;
	width: 620px;
	margin-top: 30px;
}

.text {
	padding: 7px 0 0 36px;
	width: 550px;
}

.text h2 {
	font-size: 32px;
	color: #323232;
	line-height: 40px;
	padding: 4px 0 15px 0;
	letter-spacing: -1px
}

.text p {
	font-size: 12px;
	font-weight: bold;
	color: #323232;
	line-height: 20px;
	text-align: left;
	padding-bottom: 25px;
	height: 30px;
}

.text img {
	margin-top: 43px
}
/* content */
#content {
	padding-top: 35px;
	width: 100%;
	overflow: hidden;
	padding-bottom: 60px
}

.pad_bot1 {
	padding-bottom: 17px
}

.pad_bot2 {
	padding-bottom: 7px
}

.pad_left1 {
	padding-left: 42px
}

.pad {
	padding: 0 1px
}

.marg_bot1 {
	margin-bottom: 17px
}

.marg_right1 {
	margin-right: 18px
}

.marker_1, .marker_2 {
	display: inline-block;
	background: url(../images/marker_1.gif) 0 0 no-repeat;
	width: 17px;
	height: 17px
}

.marker_2, .marker_1:hover {
	background: url(../images/marker_2.gif) 0 0 no-repeat
}

.marker_2:hover {
	background: url(../images/marker_1.gif) 0 0 no-repeat
}

.under {
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px
}

.button {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	background: #f09e2f;
	line-height: 35px;
	padding: 0 16px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(js/PIE.htc);
	position: relative;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase
}

.button_menu {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	background: #f09e2f;
	line-height: 35px;
	padding: 0 16px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(js/PIE.htc);
	position: relative;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase
}

.button_position {
	float: right;
	margin-right: 40px;
	margin-bottom: 10px;
}

.button:hover {
	background: #8cbd20
}

.line1 {
	background: url(../images/line_ver.gif) 320px 0 repeat-y
}

.list1 li {
	line-height: 22px
}

.list1 li a {
	padding-left: 13px;
	background: url(../images/marker_3.gif) 0 5px no-repeat
}
/* footer */
/*footer {padding-top:31px;text-align:center;line-height:18px;color:#fff}
footer a {color:#439deb}*/
/* forms */
#ContactForm {
	margin-top: -10px;
	line-height: 29px;
	font-weight: bold;
	width: 638px
}

#ContactForm a {
	margin-left: 10px;
	float: right;
	width: 86px;
	text-align: center;
	padding: 0
}

#ContactForm .input {
	float: right;
	margin-right: 222px;
	width: 335px;
	height: 17px;
	border: 1px solid #dcdcdc;
	background: #fff;
	padding: 5px;
	margin-bottom: 6px;
	color: #323232;
	font: 13px Arial, Helvetica, sans-serif
}

#ContactForm textarea {
	overflow: auto;
	float: right;
	width: 557px;
	height: 307px;
	border: 1px solid #dcdcdc;
	background: #fff;
	padding: 5px;
	margin-bottom: 16px;
	color: #323232;
	font: 13px Arial, Helvetica, sans-serif
}

#form_1 {
	color: #fff;
	line-height: 24px
}

#form_1 .input {
	float: right;
	background: #fff;
	width: 133px;
	padding: 1px 8px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #7f7f7f;
	height: 16px;
	margin-top: 3px
}

#form_1 a {
	color: #439deb
}

#form_1 .radio {
	float: left;
	padding-right: 16px
}

#form_1 .radio.end {
	padding-right: 0
}

#form_1 .radio input {
	float: left;
	margin: 5px 5px 0 0px;
	height: 12px;
	width: 12px;
	overflow: hidden;
	padding: 0
}

#form_1 .check_box {
	margin-top: 12px
}

#form_1 .input2 {
	width: 62px
}

#form_1 select {
	width: 58px;
	height: 18px;
	padding: 1px;
	margin-left: 5px;
	margin-top: 5px;
	display: inline-block
}

#form_1 .button {
	float: right;
	font-size: 12px;
	color: #fff;
	width: 66px;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: #3081c8;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(js/PIE.htc);
	position: relative;
	padding: 0
}

#templatemo_footer {
	width: 100%;
	height: 110px;
	padding: 60px 400px 10px 19%;
	color: #FFFFFF;
	background: url(../images/bg_1.jpg) repeat-x;
	text-align: center;
}

.footer_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_menu li {
	margin: 0;
	padding: 2px 0 3px 0px;
	border-bottom: 1px dotted #ccc
}

.footer_menu li a {
	font-size: 11px;
	color: #8cbd20;
}

.col {
	float: left;
	margin-right: 20px
}

.col_13 {
	width: 300px
}

.col_14 {
	width: 220px
}

.col_15 {
	width: 400px
}

.col_16 {
	width: 140px
}

.col_23 {
	width: 620px
}

.comp_name {
	height: 20px;
	width: 100%;;
	color: #FFFFFF;
	background-color: #333333;
}

.no_margin_right {
	margin-right: 0
}

#CityForm {
	margin-top: -10px;
	line-height: 29px;
	font-weight: bold;
	width: 638px
}

#CityForm a {
	margin-left: 10px;
	float: right;
	width: 86px;
	text-align: center;
	padding: 0
}

#CityForm .input {
	float: right;
	width: 500px;
	height: 17px;
	border: 1px solid #dcdcdc;
	background: #fff;
	padding: 5px;
	margin-bottom: 6px;
	color: #323232;
	font: 13px Arial, Helvetica, sans-serif
}

#CityForm textarea {
	float: right;
	width: 500px;
	height: 100px;
	border: 1px solid #dcdcdc;
	background: #fff;
	padding: 5px;
	margin-bottom: 16px;
	color: #323232;
	font: 13px Arial, Helvetica, sans-serif
}

#form_City {
	color: #fff;
	line-height: 24px
}

#form_City .input {
	float: right;
	background: #fff;
	width: 133px;
	padding: 1px 8px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #7f7f7f;
	height: 16px;
	margin-top: 3px
}

#form_City a {
	color: #439deb
}

#form_City .radio {
	float: left;
	padding-right: 16px
}

#form_City .radio.end {
	padding-right: 0
}

#form_City .radio input {
	float: left;
	margin: 5px 5px 0 0px;
	height: 12px;
	width: 12px;
	overflow: hidden;
	padding: 0
}

#form_City .check_box {
	margin-top: 12px
}

#form_City .input2 {
	width: 62px
}

#form_City select {
	width: 58px;
	height: 18px;
	padding: 1px;
	margin-left: 5px;
	margin-top: 5px;
	display: inline-block
}

#form_City .button {
	float: right;
	font-size: 12px;
	color: #fff;
	width: 66px;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: #3081c8;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(js/PIE.htc);
	position: relative;
	padding: 0
}

.leftbox, .rightbox {
	margin-top: 5px;
	color: #464646;
}

.leftbox {
	float: left;
	width: 250px;
}

.leftbox h2 {
	font-size: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.rightbox h2 {
	font-size: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.rightbox {
	float: right;
	width: 252px;
	margin-right: 18px;
	border-left: 1px solid #e5e5e5;
}

.label {
	float: left;
	width: 200px;
	font-size: 14px;
	font-weight: bolder;
	margin-left: 10px;
}

.infobox {
	background-color: #8cbd20;
	border: 1px solid transparent;
	margin-top: 5px;
}

.error {
	color: red;
	padding-left: 10px;
}

fieldset {
	border: 1px solid #888;
	width: 600px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.small_form {
	border: 1px solid #888;
	width: 635px;
	padding-top: 50px;
	padding-bottom: 10px;
	height: 320px;
	padding: 120px 5px 5px 5px;
}

legend {
	border: 1px solid #888;
	background-color: #f09e2f;
	color: #ffffff;
	font-weight: bolder;
	font-size: 18px;
	padding: 12px;
}

dt {
	color: white;
	font-size: 20px;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
}

dd a {
	color: white;
	font-size: 12px;
	width: 200px;
}

#the-form table {
	width: 600px;
}

#the-form table td {
	width: 150px;
	padding: 1px 2px 1px 2px;
}

#emptymsg {
	color: tomato;
	background-color: #fcefa1;
	font-size: 28px;
}

#login .login .name {
	cellspacing: 10px;
	padding: 5px 1px 1px 20px;
	height: 20ps;
}

#login .login .field {
	cellspacing: 10px;
	padding: 5px 1px 1px 20px;
	height: 20ps;
}

.text .useradmin #form_2 .login td {
	text-align: left;
}

.text .useradmin #form_1 .login td {
	text-align: left;
}

.submit {
	margin: 20px 1px 1px 70px;
}

.text .useradmin #form_2 {
	height: 300px;
	background-color: #30b6c9;
	padding: 10px 1px 1px 50px;
	font-size: 16px;
	width: 350px;
}

.text .useradmin #form_1 {
	/* 	width: 800px; */
	width: 400px;
	background-color: orange;
	height: 300px;
	padding: 10px 1px 1px 50px;
	font-size: 16px;
}

.error {
	font-size: 14px;
	color: red;
	text-decoration: blink;
}

#profile_image {
	padding: 20px 10px 50px 70px;
	width: 100px;
	height: 100px;
}

.top-tab {
	width: 550px;
	border: 1;
	/* 	margin: 25px 10px 10px 100px; */
}
/* .top-tab td{
	width: 200px;
	text-align: left;
} */
.top-tab .label {
	width: 120px;
	text-align: left;
	/* 	padding: 10px 2px 2px 5px; */
}

.top-tab .field {
	width: 200px;
	text-align: left;
	/* 	padding: 10px 2px 2px 5px; */
}

.top-legend {
	border: 1px solid #888;
	background-color: orange;
	color: #ffffff;
	font-weight: bolder;
	font-size: 18px;
	padding: 2px;
}

.information {
/* 	background-color: ; */
	border: 1px solid transparent;
	margin-top: 1px;
	font-size: 16px;
}