<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<th:block th:include="fragments/links :: head"></th:block>

</head>
<body id="page2">
	<div class="extra">
		<div class="main">
			<!-- header -->
			<th:block th:include="fragments/headerall :: header"></th:block>
			<!-- / header -->
			<!-- content -->
			<!-- content -->
			<section id="content">
				<article class="col1">
					<h3>Hot Travel</h3>
					<div class="pad">
						<div class="wrapper under">
							<figure class="left marg_right1">
								<img src="../images/d6.jpg" alt="" />
							</figure>
							<p class="pad_bot2">
								<strong>Mahadev Saipu</strong>
							</p>
							<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer
								adipiscing.</p>
							<a href="#" class="marker_1"></a>
						</div>
						<div class="wrapper under">
							<figure class="left marg_right1">
								<img src="../images/d3.jpg" alt="" />
							</figure>
							<p class="pad_bot2">
								<strong>Shahi Ghantaghar</strong>
							</p>
							<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer
								adipiscing.</p>
							<a href="#" class="marker_1"></a>
						</div>
						<div class="wrapper under">
							<figure class="left marg_right1">
								<img src="../images/d4.jpg" alt="" />
							</figure>
							<p class="pad_bot2">
								<strong>Taalab-e-Shahi</strong>
							</p>
							<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer
								adipiscing.</p>
							<a href="#" class="marker_1"></a>
						</div>
						<div class="wrapper">
							<figure class="left marg_right1">
								<img src="../images/d5.jpg" alt="" />
							</figure>
							<p class="pad_bot2">
								<strong>Shergarh Qila</strong>
							</p>
							<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer
								adipiscing.</p>
							<a href="#" class="marker_1"></a>
						</div>

					</div>
				</article>
				<article class="col2 pad_left1">
					<h3>About Us</h3>
					<div class="wrapper">
						<figure class="left marg_right1">
							<img src="../images/atharva_logo.jpg" alt="" />
						</figure>
						<p>
							<strong>ATHARVA Consultants</strong> is an India based IT
							consultancy Company with specialization in Web site Designing and
							hosting, Dynamic Web sites, E-commerce websites, Graphics
							designing, Logo Designing and Building Fully Customized
							Application Software's for all type of Industries, organizations
							and individuals. We have good expertise in the areas mentioned
							above and we prefer to deliver our products in time with best
							quality and minimum cost to our Clients.
						</p>
						<figure class="left marg_right1">
							<img src="../images/dholpur.jpg" alt="" height="70px" width="100px" />
						</figure>
						<p>
							<strong>www.dholpur.info</strong> is humble effort to facilitate
							people of eastern gateway of Rajasthan. We have tried to put all
							relevant information on this portal and it is available on a
							mouse click for all who is interested in Dholpur whether who
							comes from far flung remote Basai- Dang or any other place in the
							world.
						</p>
					</div>
					<h2>We Provide</h2>
					<div class="wrapper line1 marg_bot1">
						<ul class="list1 cols">
							<h4>Web Services</h4>
							<ul>
								<li><a href="#">Domain Name Registration</a></li>
								<li><a href="#">Web Hosting</a></li>
								<li><a href="#">Web Development</a></li>
								<li><a href="#">Software Development</a></li>
							</ul>
						</ul>
						<ul class="list1 cols pad_left1">
							<h4>BPO Services</h4>
							<ul>
								<li><a href="#">Data Entry</a></li>
								<li><a href="#">Data Processing</a></li>
								<li><a href="#">Scanning</a></li>
								<li><a href="#">Data Conversion</a></li>
							</ul>
						</ul>
					</div>
					<br />
					<p style="text-align: justify;">Data Entry is mainly essential
						fundamental need of any organization. It is an exceptionally vital
						part of expertise that helps to enhance the performance standard
						competence. The term Data Entry, beyond its simple definition
						encompasses a wide range of implications and utilities. Atharva
						Consultants provide data entry services for all kinds of textual
						data capturing from printed matter, manuscripts (Handwritten
						Scripts), scanned images, on-line/offline data entry etc. We
						assure our clients regarding confidentiality of their data and
						documents and our data-entry experts work efficiently with high
						accuracy levels. Online Data Entry Offline Data Entry Online Data
						Retrieval Handwritten/Printed Directories Book Keeping /
						Accounting Data Processing Atharva Consultants has custom
						solutions to solve your Data Processing work such as generating
						useful and important summary statistics on data, creating
						powerfully illustrated tables and summarizing information into
						intelligent formats.</p>
					<p style="text-align: justify;">Digitisation and Data
						Conversion Atharva Consultants convert data stored in hardcopy or
						soft copy files into organized and useful digital information as
						required. Unstructured data is converted into a variety of useful
						digital formats. Services offered under Data Conversion include
						OCR Clean up, OMR, Scanning, Indexing and data Archiving. Using
						leading-edge technologies and skilled staff, we convert your
						unstructured data into a variety of useful digital formats such as
						MS Word, RTF, TXT, PDF, HTML, XML, MS Excel and many other formats
						as per requirement</p>
					<p style="text-align: justify;">Data Management We offer the
						advantage of a single-source support to meet Data Management
						challenges such as Data Analysis, Data Warehousing, Data
						Collection and Extraction, Data Correction and Validation, Data
						Cleansing and Editing.</p>
				</article>
			</section>
			<!-- / content -->
		</div>
		<div class="block"></div>
	</div>
	<div id="templatemo_footer">
		<th:block th:include="fragments/footer :: footer"></th:block>
	</div>
	<th:block th:include="fragments/atharvahost :: host"></th:block>
</body>
</html>