<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body id="page2">
	<div id="profile_form"></div>
	<div id="tablediv">
		<article class="col2 pad_left1">
			<h3>City At a Glance</h3>
			<div class="wrapper">
				District Dholpur is situated in the eastern part of Rajasthan. The
				present name is said to have been derived from Dhaulpur as a
				separate district came into existence in 1982 comprising four
				tehsils of Bharatpur namely Dholpur, Rajakhera, Bari and Baseri. It
				is bordered by Bharatpur district of Rajasthan and Uttar Pradesh to
				the north, Madhya Pradesh to the south, Karauli district to the west
				and Uttar Pradesh and Madhya Pradesh to the east. The District has
				five Subdivisions and four development Blocks namely Dholpur, Bari,
				Baseri and Rajakhera. The district is well connected by roads(NH-3
				Agra-Mumbai) and railways. The Broad-gauge lines of Mumbai ? Agra of
				North Central Railways, passes through the district headquarter
				Dholpur.

				<table width="536" height="494" border="0" style="font-size: 14px;">
					<tr>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2"><div align="center" class="style6">
								<h2>District&nbsp; At a Glance</h2>
							</div></td>
					</tr>
					<tr>
						<td class="style5">Description</td>
						<td class="style5">Statistics</td>
					</tr>
					<tr>
						<td class="style5">State</td>
						<td class="style5">Rajasthan</td>
					</tr>

					<tr>
						<td class="style5">Longitude</td>
						<td class="style5">260-26057' N</td>
					</tr>
					<tr>
						<td class="style5">Latitude</td>
						<td class="style5">77014'-78016' E</td>
					</tr>
					<tr>
						<td class="style5">Area</td>
						<td class="style5">3034 Sq Km</td>
					</tr>
					<tr>
						<td class="style5">Forest</td>
						<td class="style5">27059 Hectare</td>
					</tr>
					<tr>
						<td colspan="2" class="style6"><div align="center">
								<p>&nbsp;</p>
								<h2>Administrative Setup</h2>
							</div></td>
					</tr>
					<tr>
						<td><span class="style5">Assembly Constituency </span></td>
						<td><span class="style5">4 </span></td>
					</tr>
					<tr>
						<td><span class="style5">Name </span></td>
						<td><span class="style5">Dholpur, Bari,Baseri,
								Rajakhera </span></td>
					</tr>
					<tr>
						<td><span class="style5">Sub Division </span></td>
						<td><span class="style5">5 </span></td>
					</tr>
					<tr>
						<td><span class="style5">Name </span></td>
						<td><span class="style5">Dholpur, Bari,
								Rajakhera,Baseri, Saipau </span></td>
					</tr>
					<tr>
						<td><span class="style5">Tehsil </span></td>
						<td><span class="style5">6 </span></td>
					</tr>
					<tr>
						<td><span class="style5">Name </span></td>
						<td><span class="style5">Dholpur, Bari, Rajakhera,
								Baseri,Sarmathura, Saipau </span></td>
					</tr>
					<tr>
						<td><span class="style5">Nagarparishad </span></td>
						<td><span class="style5">Dholpur, </span></td>
					</tr>
					<tr>
						<td><span class="style5">Sub Tehsil </span></td>
						<td><span class="style5">2 (Mania, Kanchapur) </span></td>
					</tr>
					<tr>
						<td><span class="style5">Nagarpalika </span></td>
						<td><span class="style5">2 (Bari, Rajakhera ) </span></td>
					</tr>
					<tr>
						<td><span class="style5">Panchayat Samiti </span></td>
						<td><span class="style5">4 ( Dholpur, Bari, Rajakhera,
								Baseri ) </span></td>
					</tr>
					<tr>
						<td><span class="style5">ILR Circle </span></td>
						<td><span class="style5">25 </span></td>
					</tr>
					<tr>
						<td><span class="style5">Patwar Mandal </span></td>
						<td><span class="style5">206 </span></td>
					</tr>
					<tr>
						<td><span class="style5">Gram Panchayat </span></td>
						<td><span class="style5">153 </span></td>
					</tr>
					<tr>
						<td><span class="style5">Populated Villages </span></td>
						<td><span class="style5">810 </span></td>
					</tr>
					<tr>
						<td><span class="style5">Police Thana </span></td>
						<td><span class="style5">14 </span></td>
					</tr>
					<tr>
						<td><span class="style5">Police Chowki </span></td>
						<td><span class="style5">14 </span></td>
					</tr>
				</table>
			</div>
		</article>
	</div>
</body>
</html>