<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body id="page1">
	<div id="profile_form"></div>
	<div id="tablediv">
		<article class="col2 pad_left1">
			<h3>Change Password</h3>
			<br />
			<div class="wrapper under">
				<b class="error" th:text="${error}">Password and confirm
					password wrong.</b>
				<form class="form-horizontal" th:action="@{/user/changepassword}"
					method="post">
					<div>
						<span class="label">Old Password:</span> <input type="password"
							class="infobox" name="oldpassword" />
					</div>
					<div>
						<span class="label">New Password</span> <input type="password"
							class="infobox" name="newpassword" />
					</div>
					<div>
						<span class="label">Confirm Password :</span> <input
							name="cnfpassword" type="password" class="infobox" />
					</div>
					<span class="button_position"><input class="button"
						type="submit" value="Submit" /> </span>
				</form>
			</div>
		</article>
	</div>
</body>
</html>