<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<div id="profile_form"></div>
	<div id="tablediv">
		<article class="col2 pad_left1">
			<h3>Emergency Contact Numbers</h3>
			<div class="wrapper">
				<div class="leftbox">
					<h2>Fire brigade</h2>
					<p class="even">
						<b>Phone:</b> 05642-220888
					</p>
					<p class="odd">
						<b>Phone:</b> 101
					</p>
					<h2>Electricity Board</h2>
					<p class="even">
						<b>Phone:</b> 05642-220850/220830/220641
					</p>
					<p class="odd">
						<b>Phone:</b> 05642-220637/220613
					</p>
					<h2>PHED/Water</h2>
					<p class="even">
						<b>Phone:</b> 05642-220728/220805
					</p>
					<p class="odd">
						<b>Phone:</b> 05642-223075/241782(A En)
					</p>
					<h2>BSNL</h2>
					<p class="even">
						<b>Phone:</b> 05642-22000/20001
					</p>
					<p class="odd">
						<b>Phone:</b>197
					</p>
					<h2>Railway /Bus Enquiry</h2>
					<p class="even">
						<b>Phone:</b> 05642-220797(Rail)
					</p>
					<p class="odd">
						<b>Phone:</b>139(Rail)
					</p>
					<p class="even">
						<b>Phone:</b>05642-241578/241824(Roadways)
					</p>
					<p class="odd">
						<b>Phone:</b>05642-240859(Roadways Enquiry)
					</p>
					<h2>Nagar parishad</h2>
					<p class="even">
						<b>Phone: </b>09414026814 (Chairman)
					</p>
					<p class="odd">
						<b>Phone: </b>08107511717( Vice Chairman)
					</p>
					<p class="even">
						<b>Phone: </b>05642-220848 (EO)
					</p>
					<h2>Hospital and Medical</h2>
					<p class="odd">
						<b>Phone:</b>108/102
					</p>
					<p class="even">
						<b>Phone : </b>05642-220851 (Emergency Room)
					</p>
					<p class="odd">
						<b>Phone : </b>05642-220733 (CMHO)
					</p>
					<p class="even">
						<b>Phone : </b>05642-220738 (PMO/Zanana Hospital)
					</p>
					<p class="odd">
						<b>Phone : </b>05642-220836 (Ayurveda Hospital)
					</p>
					<p class="even">
						<b>Phone : </b>05642-220765 (Family Welfarel)
					</p>
					<p class="odd">
						<b>Phone : </b>05642-220897(VeterinaryHospital)
					</p>
					<p class="even">
						<b>Phone :</b>05642-221221(Ayurved Adhikari)
					</p>
				</div>
				<div class="rightbox">
					<h2>Police Department</h2>
					<p class="odd">
						<b>Phone: </b>100
					</p>
					<p class="even">
						<b>Phone: </b>05642-220267/220588(SP Office)
					</p>
					<p class="odd">
						<b>Phone: </b>05642-244801(CO Mania )
					</p>
					<p class="even">
						<b>Phone: </b>05647-243510(CO Bari )
					</p>
					<p class="odd">
						<b>Phone: </b>05642-240313(ACD )
					</p>
					<p class="even">
						<b>Phone: </b>05642-240810(RAC )
					</p>
					<p class="odd">
						<b>Phone: </b>05642-220626(Kotwali Dholpur)
					</p>
					<p class="even">
						<b>Phone: </b>05642-240644(Thana Sadar )
					</p>
					<p class="odd">
						<b>Phone: </b>05642-221062(Thana Nihalganj)
					</p>
					<p class="even">
						<b>Phone: </b>05647-242438(Thana Bari )
					</p>
					<p class="odd">
						<b>Phone: </b>05646-266106(Thana Baseri )
					</p>
					<p class="even">
						<b>Phone: </b>05642-244008(Thana Mania)
					</p>
					<p class="odd">
						<b>Phone: </b>05642-266128(Thana Saipau)
					</p>
					<p class="even">
						<b>Phone: </b>05642-234217(Thana Diholi)
					</p>
					<p class="odd">
						<b>Phone: </b>05647-244216(Thana Kanchanpur)
					</p>
					<p class="even">
						<b>Phone: </b>05642-220689(Chowki Nihalganj)
					</p>
					<p class="odd">
						<b>Phone: </b>05642-220697(Chowki Railway Station)
					</p>
					<p class="even">
						<b>Phone: </b>05642-220638(Chowki Police line)
					</p>
					<p class="odd">
						<b>Phone: </b>05642-220883(Chowki GRP)
					</p>
					<h2>Others Important</h2>
					<p class="even">
						<b>Phone: </b>05642-220762(Mines)
					</p>
					<p class="odd">
						<b>Phone:</b>05642-220662(Superintendent Jail)
					</p>
					<p class="even">
						<b>Phone:</b>05642-224577(DTO)
					</p>
					<p class="odd">
						<b>Phone:</b>05642-222313(Labour Officer)
					</p>
					<p class="even">
						<b>Phone:</b>05642-220769(DFO)
					</p>
					<p class="odd">
						<b>Phone:</b>05642-220814(DSO)
					</p>
					<p class="even">
						<b>Phone:</b>05642-220146 (FCI)
					</p>
					<p class="odd">
						<b>Phone:</b> 05642-220675(Superintendent post office)
					</p>
					<p class="even">
						<b>Phone:</b>05642-220763(Abkari Adhikar)
					</p>
					<p class="odd">
						<b>Phone:</b>05642-222409/220760(PRO)
					</p>
				</div>
			</div>
		</article>
	</div>
</body>
</html>