<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<th:block th:include="fragments/links :: head"></th:block>

</head>
<body id="page2">
<div class="extra">
		<div class="main">
			<!-- header -->
			<th:block th:include="fragments/headerall :: header"></th:block>
			<!-- / header -->
			<!-- content -->
	 <!-- content -->
                <section id="content">
                    <article class="col1">
                        <h3>Hot Travel</h3>
                        <div class="pad">
                            <div class="wrapper under">
                                <figure class="left marg_right1"><img src="../images/d6.jpg" alt="" /></figure>
                                <p class="pad_bot2"><strong>Mahadev Saipu</strong></p>
                                <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
                                <a href="#" class="marker_1"></a>
                            </div>
                            <div class="wrapper under">
                                <figure class="left marg_right1"><img src="../images/d3.jpg" alt="" /></figure>
                                <p class="pad_bot2"><strong>Shahi Ghantaghar</strong></p>
                                <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
                                <a href="#" class="marker_1"></a>
                            </div>
                            <div class="wrapper under">
                                <figure class="left marg_right1"><img src="../images/d4.jpg" alt="" /></figure>
                                <p class="pad_bot2"><strong>Taalab-e-Shahi</strong></p>
                                <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
                                <a href="#" class="marker_1"></a>
                            </div>
                            <div class="wrapper">
                                <figure class="left marg_right1"><img src="../images/d5.jpg" alt="" /></figure>
                                <p class="pad_bot2"><strong>Shergarh Qila</strong></p>
                                <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
                                <a href="#" class="marker_1"></a>
                            </div>

                        </div>
                    </article>
		<article class="col2 pad_left1">
			<h3>Popular Places</h3>
			<br />
			<div class="wrapper under">
				<br />
				<figure class="left marg_right1">
					<img src="../images/machkund.gif" alt="" />
				</figure>
				<p class="pad_bot2">
					<strong>TeerthRaj Machkund</strong>
				</p>
				<p style="text-align: justify">Machkund is situated about 2 kms
					from NH-3 ie Agra-Mumbai road, it is an ancient place which gets
					reference in Puranas and Shri MadBhagwat. The place is named after
					Raja Muchkund. Raja Muchkund, the twenty fourth king of the
					Suryavansh is said to have reigned nineteen generations before
					Bhagwan Shri Ram. It has picturesque view in Aravali ranges of
					eastern Rajasthan. There is a Sarovar (Pond) surrounded by a series
					of temples of different dietes. According to legend, Raja Muchkund,
					was sleeping here when a demon Kaal Yaman while pursuing Bhagwan
					Shri Krishna, accidentally woke him up. The demon was burnt to
					ashes because of a divine blessing to Raja Muchkund. It is now a
					sacred place for pilgrims.</p>
				<a href="http://www.teerthrajmachkund.in/" class="marker_2"
					target="_blank"></a>
			</div>
			<br />
			<div class="wrapper under">
				<br />
				<figure class="left marg_right1">
					<img src="../images/chamblebihad.jpg" alt="" />
				</figure>
				<p class="pad_bot2">
					<strong>Chambal Ke Beehad</strong>
				</p>
				<p style="text-align: justify">Beehad of Chambel river valley,
					spread in the states of Uttar Pradesh, Madhya Pradesh and
					Rajasthan, are notorious for producing the dreaded dacoits of
					India. Feared dacoits like Maan Singh, Putil bhai, Malkhan Singh,
					Mohar Singh etc are all by product of this river valley region
					called Beehad. This trend still continues. However, today they have
					lost their sheen of self righteousness and become sort of
					mercenaries. The Chambal ravine or 'beehad' (Hindi-बीहड़) in
					Dholpur has harboured dacoits (bandits) for centuries. In modern
					times, due to the old legends and rugged terrain, the labyrinthian
					ravines along the river were hiding places to gangs of bandits led
					by colourful figures like Man Singh, Daku Madho Singh,Dhanraj singh
					Rathur(Chhibramau) Paan Singh Tomar and Phoolan Devi. The last
					notable dacoit, Nirbhay Gujjar was killed in 2005. Today, a tourist
					lodge and other facilities promote eco-tourism here. This area is
					also known as the "Veer Bhoomi Chambal".</p>
				<a href="http://en.wikipedia.org/wiki/Chambal_River"
					class="marker_2" target="_blank"></a>
			</div>
			<br />
			<div class="wrapper under">
				<br />
				<figure class="left marg_right1">
					<img src="../images/n4.jpg" alt="" />
				</figure>
				<p class="pad_bot2">
					<strong>National Chambal Sanctuary</strong>
				</p>
				<p class="pad_bot2">Sed ut perspiciatis unde omnis iste natus
					error sit voluptatem accusantium doloremque laudantium, totam rem
					aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
					architecto beatae vitae dicta sunt explicabo.</p>
				<p class="pad_bot2">
					<strong>Nemo enim ipsam voluptatem</strong> quia voluptas sit
					aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
					est, qui dolorem ipsum quia dolor sit amet, consectetur.
				</p>
				<a href="http://nationalchambalsanctuary.in/" class="marker_2"
					target="_blank"></a>
			</div>
			<br />
			<div class="wrapper under">
				<br />
				<figure class="left marg_right1">
					<img src="../images/n5.jpg" alt="" />
				</figure>
				<p class="pad_bot2">
					<strong>Raj Niwas Palace</strong>
				</p>
				<p class="pad_bot2">Sed ut perspiciatis unde omnis iste natus
					error sit voluptatem accusantium doloremque laudantium, totam rem
					aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
					architecto beatae vitae dicta sunt explicabo.</p>
				<p class="pad_bot2">
					<strong>Nemo enim ipsam voluptatem</strong> quia voluptas sit
					aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
					est, qui dolorem ipsum quia dolor sit amet, consectetur.
				</p>
				<a href="http://dholpurpalace.com/" class="marker_2" target="_blank"></a>
			</div>
			<br />
			<div class="wrapper under">
				<br />
				<figure class="left marg_right1">
					<img src="../images/n6.jpg" alt="" />
				</figure>
				<p class="pad_bot2">
					<strong>Thermal Power Station</strong>
				</p>
				<p class="pad_bot2">Sed ut perspiciatis unde omnis iste natus
					error sit voluptatem accusantium doloremque laudantium, totam rem
					aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
					architecto beatae vitae dicta sunt explicabo.</p>
				<p class="pad_bot2">
					<strong>Nemo enim ipsam voluptatem</strong> quia voluptas sit
					aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
					est, qui dolorem ipsum quia dolor sit amet, consectetur.
				</p>
				<a href="http://www.rvunl.com/Dholpur.php" class="marker_2"
					target="_blank"></a>
			</div>
			<br />
			<div class="wrapper under">
				<br />
				<figure class="left marg_right1">
					<img src="../images/n7.jpg" alt="" />
				</figure>
				<p class="pad_bot2">
					<strong>Rashtriya Military School</strong>
				</p>
				<p class="pad_bot2">Sed ut perspiciatis unde omnis iste natus
					error sit voluptatem accusantium doloremque laudantium, totam rem
					aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
					architecto beatae vitae dicta sunt explicabo.</p>
				<p class="pad_bot2">
					<strong>Nemo enim ipsam voluptatem</strong> quia voluptas sit
					aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
					est, qui dolorem ipsum quia dolor sit amet, consectetur.
				</p>
				<a href="http://www.rashtriyamilitaryschools.in/dholpur/"
					class="marker_2" target="_blank"></a>
			</div>
			<h2>Nearest Location</h2>
			<div class="wrapper under">
				<br />
				<figure class="left marg_right1">
					<img src="../images/n1.jpg" alt="" />
				</figure>
				<p class="pad_bot2">
					<strong>Taj Mahal</strong>
				</p>
				<p class="pad_bot2">Sed ut perspiciatis unde omnis iste natus
					error sit voluptatem accusantium doloremque laudantium, totam rem
					aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
					architecto beatae vitae dicta sunt explicabo.</p>
				<p class="pad_bot2">
					<strong>Nemo enim ipsam voluptatem</strong> quia voluptas sit
					aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
					est, qui dolorem ipsum quia dolor sit amet, consectetur.
				</p>
				<a href="http://www.tajmahal.gov.in/" class="marker_2"
					target="_blank"></a>
			</div>
			<br />
			<div class="wrapper under">
				<br />
				<figure class="left marg_right1">
					<img src="../images/n2.jpg" alt="" />
				</figure>
				<p class="pad_bot2">
					<strong>Agra Fort</strong>
				</p>
				<p class="pad_bot2">Sed ut perspiciatis unde omnis iste natus
					error sit voluptatem accusantium doloremque laudantium, totam rem
					aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
					architecto beatae vitae dicta sunt explicabo.</p>
				<p class="pad_bot2">
					<strong>Nemo enim ipsam voluptatem</strong> quia voluptas sit
					aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
					est, qui dolorem ipsum quia dolor sit amet, consectetur.
				</p>
				<a href="http://en.wikipedia.org/wiki/Agra_Fort" class="marker_2"
					target="_blank"></a>
			</div>
			<br />
			<div class="wrapper under">
				<br />
				<figure class="left marg_right1">
					<img src="../images/n3.jpg" alt="" />
				</figure>
				<p class="pad_bot2">
					<strong>Buland Darwaza</strong>
				</p>
				<p class="pad_bot2">Sed ut perspiciatis unde omnis iste natus
					error sit voluptatem accusantium doloremque laudantium, totam rem
					aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
					architecto beatae vitae dicta sunt explicabo.</p>
				<p class="pad_bot2">
					<strong>Nemo enim ipsam voluptatem</strong> quia voluptas sit
					aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
					est, qui dolorem ipsum quia dolor sit amet, consectetur.
				</p>
				<a
					href="http://www.agraindia.org.uk/fatehpur-sikri/monuments/buland-darwaza.html"
					class="marker_2" target="_blank"></a>
			</div>
		</article>
		</section>
	<!-- / content -->
	</div>
	<div class="block"></div>
	</div>
	<div id="templatemo_footer">
		<th:block th:include="fragments/footer :: footer"></th:block>
	</div>
	<th:block th:include="fragments/atharvahost :: host"></th:block>
</body>
</html>