<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body id="page2">
	<div id="profile_form"></div>
	<div id="tablediv">
		<article class="col2 pad_left1">
			<h3>Government Offices Contact</h3>
			<div class="wrapper">
				<div class="leftbox">
					<h2>Collectorate</h2>
					<p>
						<b>Address:</b>Gulab bag Badi Road, Dholpur
					</p>
					<p>Phone :05642-220254</p>
					<h2>ADM Dholpur</h2>
					<p>Phone: 05642-221355</p>
					<h2>DSO</h2>
					<p>Phone:05642-220814</p>
					<h2>SDM Dholpur</h2>
					<p>Phone:05642-220834</p>
					<h2>Sub Registrar Dholpur</h2>
					<p>Phone:</p>
					<h2>NIC</h2>
					<p>Phone:05642-220007</p>
					<h2>MGNREGA</h2>
					<p>Phone:05642-224114</p>
					<h2>Statistics</h2>
					<p>Phone-05642-220737</p>

				</div>
				<div class="rightbox">
					<h2>SP Office</h2>
					<p>
						<b>Address:</b> SP office, Gulab bag Badi Road, Dholpur
					</p>
					<p>Phone:05642-220267</p>
					<h2>ASP Dholpur</h2>
					<p>Phone:05642-221060</p>
					<h2>DTO</h2>
					<p>Phone:05642-224577</p>
					<h2>Circuit House</h2>
					<p>Phone: 05642-220692</p>
					<h2>Zila Parishad</h2>

					<p>Badi Road Dholpur</p>
					<p>CEO:05642-220776</p>
					<h2>Panchayat Samiti</h2>

					<p>Dholpur:05642-220795</p>
					<p>Bari:05647-242397</p>
					<p>Baser:-05646-266109</p>
					<p>Rajakhera:05642-233002</p>
					<h2>e-mitra</h2>
					<p>Phone:05642-221044</p>
				</div>
			</div>
		</article>
	</div>
</body>
</html>
