<!DOCTYPE html>
<html lang="en">
<head>
<title>Help - FAQs</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="address,places,tourist,ads,ad,classifieds,free,posting,city,info,business,photos" />
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Myriad_Pro_600.font.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page2">
	<div class="extra">
		<div class="main">
			<!-- header -->
			<header>
				<div class="wrapper">
					<h1>
						<a href="index.html" id="logo">Around the World</a>
					</h1>
					<div class="right">
						<div class="wrapper">
							<form id="search" action="" method="post">
								<div class="bg">
									<input type="submit" class="submit" value=""> <input
										type="text" class="input">
								</div>
							</form>
						</div>
						<div class="wrapper">
							<nav>
								<ul id="top_nav">
									<li><a href="#">Register</a></li>
									<li><a href="#">Log In</a></li>
									<li><a href="help.html">Help</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<nav>
					<ul id="menu">
						<li><a href="index.html" class="nav1">Home</a></li>
						<li><a href="About.html" class="nav2">About Us </a></li>
						<li><a href="Tours.html" class="nav3">Services</a></li>
						<li><a href="Destinations.html" class="nav4">Utilities</a></li>
						<li class="end"><a href="Contacts.html" class="nav5">Contacts</a></li>
					</ul>
				</nav>
				<div class="text">
					<img src="../images/text1.jpg" alt=""/>
					<h2>Frequently Asked Questions</h2>
					<p>If you are facing any problem using this website, you might
						find your answers here or if still you cant find the answer, we
						are always up there for your help. You can write to us in the -
						Contacts Page</p>
					<!-- 	<a href="#" class="button">Read More</a>    -->
				</div>
				<div class="img">
					<img src="../images/img2.jpg" alt=""/>
				</div>
			</header>
			<!-- / header -->
			<!-- content -->
			<h5 style="font-family: verdana; color: red">Q: How can i create my own account here?</h5>
			<p style="font-family: arial; color: black;">A: To create your account, you can follow these simple steps: <br><br> - Go to Home Page. <br> - You'll see a black coloured box on the left side.</p> <br> <hr> <br>
			<h5 style="font-family: verdana; color: red">Q: How to Login?</h5>
			<p style="font-family: arial; color: black;">A: To login into your account, you can follow these simple steps: <br><br> - Go to Home Page. <br> - You'll see a black coloured box on the left side. <br> - If you are a new user here, you can simply create your account (refer to the above question). <br> - If you have already created an account, click on 'Sign In' tab, Enter your user name and password and click 'Submit' button. </p> <br> <hr> <br>
			<!-- / content -->
		
		<div class="block"></div>
	</div>
	
	<div id="templatemo_footer">
    	<div class="col col_16">
        	<h4>Site Map</h4>
            <ul class="footer_menu">
            	<li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Privacy</a></li>
			</ul>  
        </div>
        <div class="col col_16">
        	<h4>Categories</h4>
            <ul class="footer_menu">
			    <li><a href="addbusinessdetail.jsp">Add your School/College</a></li>
                <li><a href="addbusinessdetail.jsp">Add your Hotel/Restaurant</a></li>				
                <li><a href="addbusinessdetail.jsp">Add your Hospital</a></li>
                <li><a href="addbusinessdetail.jsp">Add your Industry/Shop</a></li>				
		  </ul>    
        </div>
        <div class="col col_16">
        	<h4>Partners</h4>
            <ul class="footer_menu">
            	<li><a href="http://artfelt.in/">ArtFelt</a></li>
                <li><a href="http://citydekho.com/">CityDekho</a></li>
                <li><a href="http://dholpurteekshna.com/">DholpurTeekshna</a></li>
                <li><a href="http://azadikasuraj.com/index.html">AzadiKaSuraj</a></li>
			</ul>   
        </div>
        <div class="col col_16">
        	<h4>Social</h4>
            <ul class="footer_menu">
            	<li><a href="#">Twitter</a></li>
                <li><a href="https://www.facebook.com/dholpur.info">Facebook</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">LinkedIn</a></li> 
		  </ul>  
        </div>
        <div class="col col_13 no_margin_right">
        	<h4>About Us</h4>
            <p>www.dholpur.info is humble effort to facilitate people of eastern gateway of Rajasthan. We have tried to put all relevant information on this portal and it is available on a mouse click for all who is interested in Dholpur whether who comes from far flung remote Basai- Dang or any other place in the world.</p>
        </div>	
		
</div>
	<div class="comp_name">
		<center>
			 Hosted by <a href="http://www.atharvaconsultant.in" target="_parent">Atharva Consultants</a>
		</center></div>
	<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>