<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<th:block th:include="fragments/links :: head"></th:block>
<div
	th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
	<span th:case="${false}">
		<link rel="stylesheet" href="../../static/css/logintab.css"
			th:href="@{/css/logintab.css}" />
	</span> <span th:case="${true}">
		<link rel="stylesheet" href="../../static/css/hometab.css"
			th:href="@{/css/hometab.css}" />
	</span> <span th:case="*">Should never happen, but who knows...</span>
</div>


</head>
<body id="page1">
	<div class="extra">
		<div class="main">
			<!-- header -->
			<div
				th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
				<span th:case="${false}"> <th:block
						th:include="fragments/header :: header"></th:block>
				</span> <span th:case="${true}"><th:block
						th:include="fragments/headerlogin :: header"></th:block></span> <span
					th:case="*">Should never happen, but who knows...</span>
			</div>
			<!-- / header -->
			<!-- content -->
			<section id="content">
				<div id="content1"></div>
				<div id="content2">
					<article class="col1">
						<div
							th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
							<span th:case="${false}">
								<h3>Select Option</h3>
							</span> <span th:case="${true}">
								<h3>
									<b th:inline="text"
										style="font-size: 20px; color: orange; padding-left: 10px;">
										[[${#httpServletRequest.remoteUser}]]!</b>										
								</h3>
								
							</span> <span th:case="*"> Should never happen, but who knows...
							</span>
						</div>
						<div class="pad" th:fragment="menu">
							<th:block th:include="fragments/menulogin :: menu"></th:block>
							<div class="fb-like-box"
								data-href="https://www.facebook.com/dholpur.info"
								data-width="250" data-height="300" data-colorscheme="light"
								data-show-faces="true" data-header="true" data-stream="false"
								data-show-border="true"></div>
						</div>
					</article>
					<div id="profile_form"></div>
					<div id="tablediv">
						<article class="col2 pad_left1">
							<h3>Welcome to Dholpur</h3>
							<div class="wrapper under">
								<br />
								<figure class="left marg_right1">
									<img src="images/machkund.gif" alt="" />
								</figure>
								<p class="pad_bot2">
									<strong>TeerthRaj Machkund</strong>
								</p>
								<p class="pad_bot2">Machkund is situated about 2 kms from
									NH-3 ie Agra-Mumbai road, it is an ancient place which gets
									reference in Puranas and Shri MadBhagwat. The place is named
									after Raja Muchkund. Raja Muchkund, the twenty fourth king of
									the Suryavansh is said to have reigned nineteen generations
									before Bhagwan Shri Ram. It has picturesque view in Aravali
									ranges of eastern Rajasthan. There is a Sarovar (Pond)
									surrounded by a series of temples of different dietes.
									According to legend, Raja Muchkund, was sleeping here when a
									demon Kaal Yaman while pursuing Bhagwan Shri Krishna,
									accidentally woke him up. The demon was burnt to ashes because
									of a divine blessing to Raja Muchkund. It is now a sacred place
									for pilgrims.</p>
								<a href="http://www.teerthrajmachkund.in/" class="marker_2"
									target="_blank"></a>
							</div>
							<br />
							<div class="wrapper">
								<figure class="left marg_right1">
									<img src="images/chamblebihad.jpg" alt="" />
								</figure>
								<p class="pad_bot2">
									<strong>Chambal Ke Beehad</strong>
								</p>
								<p class="pad_bot2">Beehad of Chambel river valley, spread
									in the states of Uttar Pradesh, Madhya Pradesh and Rajasthan,
									are notorious for producing the dreaded dacoits of India.
									Feared dacoits like Maan Singh, Putil bhai, Malkhan Singh,
									Mohar Singh etc are all by product of this river valley region
									called Beehad. This trend still continues. However, today they
									have lost their sheen of self righteousness and become sort of
									mercenaries.</p>
								<p class="pad_bot2">The Chambal ravine or 'beehad'
									(Hindi-बीहड़) in Dholpur has harboured dacoits (bandits) for
									centuries. In modern times, due to the old legends and rugged
									terrain, the labyrinthian ravines along the river were hiding
									places to gangs of bandits led by colourful figures like Man
									Singh, Daku Madho Singh,Dhanraj singh Rathur(Chhibramau) Paan
									Singh Tomar and Phoolan Devi. The last notable dacoit, Nirbhay
									Gujjar was killed in 2005. Today, a tourist lodge and other
									facilities promote eco-tourism here. This area is also known as
									the "Veer Bhoomi Chambal".</p>
								<a href="http://www.teerthrajmachkund.in/" class="marker_2"></a>
							</div>
						</article>
					</div>
				</div>
			</section>
			<!-- / content -->
		</div>
		<div class="block"></div>
	</div>
	<div id="templatemo_footer">
		<th:block th:include="fragments/footer :: footer"></th:block>
	</div>
	<th:block th:include="fragments/atharvahost :: host"></th:block>
</body>
</html>