<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<th:block th:include="fragments/links :: head"></th:block>
<link rel="stylesheet" href="../../static/css/hometab.css"
	th:href="@{/css/hometab.css}" />
</head>
<body id="page1">
	<div class="extra">
		<div class="main">
			<!-- header -->
			<th:block th:include="fragments/headerlogin :: header"></th:block>
			<!-- / header -->
			<!-- content -->
			<section id="content">
				<div id="content1"></div>
				<div id="content2">
					<article class="col1">
						<h3>
							<b th:inline="text"
								style="font-size: 20px; color: orange; padding-left: 10px;">
								[[${#httpServletRequest.remoteUser}]]!</b>
						</h3>
						<div class="pad" th:fragment="menu">
							<a
								style="text-align: center; padding-left: 60px; margin-bottom: 10px; background: transparent;">
								<img th:src="${'data:image/jpg;base64,'+image}"
								style="height: 100px; width: 100px;" />
							</a>
							<p>
								<br />
							</p>
							<th:block th:include="fragments/menulogin :: menu"></th:block>

							<div class="fb-like-box"
								data-href="https://www.facebook.com/dholpur.info"
								data-width="250" data-height="300" data-colorscheme="light"
								data-show-faces="true" data-header="true" data-stream="false"
								data-show-border="true"></div>
						</div>
					</article>

					<div id="profile_form"></div>
					<div id="tablediv">
						<article class="col2 pad_left1">
							<h3>Organization Detail</h3>
							<br />
							<div class="wrapper under">
								<fieldset>
									<legend>Organization's Information</legend>
									<div class="even">
										<span class="label">Organization Name</span>
										<p class="information" th:text="${organization.orgName}" />
									</div>
									<!-- <div id="u">
						<span class="label">Organization Category</span>
						<p class="information" th:text="${organization.orgType}" />
					</div> -->
									<!-- <div class="even">
										<span class="label">Organization Sub Category</span>
										<p class="information" th:text="${organization.orgSubType}" />
									</div> -->
									</fieldset>
									<fieldset>
									<legend>Organization's Contact Information</legend>
									<div class="odd">
										<span class="label">Contact Person</span>
										<p class="information" th:text="${organization.contactPerson}" />
									</div>
									<div class="even">
										<span class="label">Phone</span>
										<p class="information" th:text="${organization.phone}" />
									</div>
									<div class="odd">
										<span class="label">Mobile</span>
										<p class="information" th:text="${organization.mobile}" />
									</div>
									<div class="even">
										<span class="label">E-Mail</span>
										<p class="information" th:text="${organization.email}" />
									</div>
									<div class="odd">
										<span class="label">Web Site</span>
										<p class="information" th:text="${organization.web}" />
									</div>
									<div class="even">
										<span class="label">Address</span>
										<p class="information" th:text="${organization.address}" />
									</div>
									<div class="odd">
										<span class="label">City</span>
										<p class="information" th:text="${organization.city}" />
									</div>
									<div class="even">
										<span class="label">Distt</span>
										<p class="information" th:text="${organization.distt}" />
									</div>
									<div class="odd">
										<span class="label">State</span>
										<p class="information" th:text="${organization.state}" />
									</div>
									<div class="even">
										<span class="label">Pin</span>
										<p class="information" th:text="${organization.pin}" />
									</div>
									<div class="odd">
										<span class="label">How to Reach</span>
										<p class="information" th:text="${organization.howtoreach}" />
									</div>
								</fieldset>
							</div>
						</article>
					</div>
				</div>
			</section>
			<!-- / content -->
		</div>
		<div class="block"></div>
	</div>
	<div id="templatemo_footer">
		<th:block th:include="fragments/footer :: footer"></th:block>
	</div>
	<th:block th:include="fragments/atharvahost :: host"></th:block>
</body>
</html>