<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <title>Home</title>
<th:block th:include="fragments/links :: head"></th:block>
<link rel="stylesheet" href="../../static/css/hometab.css"
	th:href="@{/css/hometab.css}" /> -->
</head>
<body id="page1">
	<div id="profile_form"></div>
	<div id="tablediv">
		<article class="col2 pad_left1">
			<h3>List Of Organizations</h3>
			<div class="wrapper under" style="overflow: scroll;height: 870px; ">
				<div th:if="${not #lists.isEmpty(organizations)}">
					<b th:each="organization : ${organizations}">
<!-- 						<div class="listbox"> -->
							
							<table class="list" width="620px">
							<tr>
							<th colspan="2"><h2 th:text="${organization.orgName}"></h2></th>
							</tr>
								<tr>
									<td style="width: 180px; color:black;">Contact Person:</td>
									<td><b th:text="${organization.contactPerson}"></b></td>
								</tr>
								<tr>
									<td>Speciality:</td>
									<td><b th:text="${organization.speciality}"></b></td>
								</tr>
								<tr>
									<td>Facilities:</td>
									<td><b th:text="${organization.facility}"></b></td>
								</tr>
								<tr>
									<td>Address:</td>
									<td><b th:text="${organization.address}"></b></td>
								</tr>
								<tr>
									<td>Mobile No.:</td>
									<td><b th:text="${organization.mobile}"></b></td>
								</tr>
							</table><!-- 
							<b><a th:href="${'/organization/' + organization.id}">View
									Detail</a> <a th:href="${'/organization/edit/' + organization.id}">Edit</a>
								<a th:href="${'/organization/delete/' + organization.id}">Delete</a></b>
							</span> -->
<!-- 						</div> -->
					</b>
				</div>
			</div>
		</article>
	</div>
</body>
</html>